html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn {
    border-color: black;
}

table.table-bordered.table-striped {
    text-align: center;
}

.nome {
    text-align: justify;
    padding: -200px;
    margin: -200px;
}

th.teta {
    min-width: 216px;
    width: 216px;
}

svg {
    margin-top: -5px;
}

th.col {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.centraliza {
    text-align: center;
}

.formulario {
    grid-row: center;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: -50px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
