@model EM.DOMAIN.Aluno


<p></p>
<div class="formulario">
	<h1 style="text-align:center;">Gerar relatório de alunos</h1>

	<div class="">
		<form class="row justify-content-center" id="meuFormulario" asp-action="GerarRelatorio" asp-controller="Aluno" method="post" target="_blank">


			<div class="col-md-3">
				<label for="cidade">Filtro de Cidade</label>
				<select id="Id_cidade" name="Id_cidade" class="form-select">
					<option value="">Selecione para Filtrar</option>
					@foreach (var cidade in ViewBag.Cidades)
					{
						<option value="@cidade.Id_cidade">@cidade.Nome - @cidade.UF</option>
					}
				</select>
			</div>


			<div class="col-md-3">
				<label for="sexo">Filtro por Sexo</label>
				<select id="sexo" name="Sexo" class="form-select">
					<option value="">Selecione para Filtrar</option>
					<option value="1">Masculino</option>
					<option value="0">Feminino</option>
				</select>
				</div>

			<div class="col-md-3">
				<label for="ordem">Ordenar por</label>
				<select id="ordem" name="Ordem" class="form-select">
					<option value="">Selecione para Ordenar</option>
					<option value="Nome">Nome</option>
					<option value="DataNascimento">Data de Nascimento</option>
					<option value="Cidade">Cidade</option>
					<option value="UF">Estado</option>
				</select>
			</div>


			<p></p>
			<div class="centraliza col-md-12">
				<button type="submit" class="btn btn-primary ms-auto" style="max-width:140px; margin-right:20px;">Gerar Relatório</button>
			</div>

		</form>
	</div>
	</div>

